:root {
}

body,
html {
  overflow-x: hidden;
}

// TODO: breadcrumbs: false in docusaurus.config.js does not work
.theme-doc-breadcrumbs {
  display: none;
}

.mdx-section-header__extra {
  display: flex;
  align-items: center;
}

.mdx-hero > .mdx-hero-image > img {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -40%;
}

.main-wrapper > .container {
  overflow-x: hidden;
}

@media screen and (min-width: 996px) {
  .mdx-hero > .mdx-hero-image > img {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -160px;
    margin-top: -60%;
    scale: 0.95;
  }
}

@media screen and (max-width: 996px) {
  .mdx-hero > .mdx-hero-image > img {
    margin-right: -200px;
    margin-left: 0;
    scale: 0.9;
    margin-top: -30%;
  }

  .mdx-hero {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 930px) {
  .mdx-hero {
    margin-bottom: 260px;
  }

  .mdx-hero > .mdx-hero-image > img {
    margin-right: 0;
    scale: 0.8;
    margin-top: -15%;
  }
}

@media screen and (max-width: 768px) {
  .mdx-hero {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .mdx-hero {
    margin-bottom: -20px;
  }

  .mdx-hero > .mdx-hero-image > img {
    scale: 1;
    margin-top: -8%;
  }
}
